@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --primary-color: #ee6e73;
  --secondary-color: #ffffff;
}

body {
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

.profile-card {
  border-radius: 5px;
  cursor: pointer;
  width: 350px;
  height: 450px;
  background: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s ease-in .1s;
}

.profile-card--image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-repeat: no-repeat;
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  transition: all .2s cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.profile-card--info {
  font-family: 'Montserrat', sans-serif;
  transform: translateY(250px);
  display: block;
  text-align: center;
  color: var(--primary-color);
  transition: all .2s ease-in;
}

.profile-card--info .name {
  font-size: 40px;
  transition: all .2s cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.profile-card--info .links {
  display: block;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .1s ease-in;
}

.profile-card--info .links a {
  font-size: 40px;
  padding: 0 20px;
  outline: none;
  color: var(--secondary-color); /* Assuming you want them white, adjust if needed */
}

.profile-card--info .info {
  line-height: 23px;
  padding: 10px;
  transform: translateY(-35px);
  display: none;
  transition: all .1s ease-in;
}

.profile-card:hover {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.profile-card:hover .profile-card--image {
  transform: translate(-50%, -20%) scale(1.2);
  filter: grayscale(0%);
}

.profile-card:hover .profile-card--info {
  transform: translateY(190px);
  color: var(--secondary-color);
}

.profile-card:hover .profile-card--info .name {
  padding: 10px;
  transform: translateY(-20px);
}

.profile-card:hover .profile-card--info .links {
  padding: 20px;
  visibility: visible;
  transform: translateY(-30px);
}

.profile-card:hover .profile-card--info .links a {
  padding: 20px;
  color: var(--secondary-color);
}

.profile-card:hover .profile-card--info .info {
  padding: 20px;
  display: inline-block;
  text-decoration-color: #434343;
  transform: translateY(-40px);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navigation {
    display: flex;
}

.navigation a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid white;
    transition: all .55s ease;
}

.navigation a:hover {
    border-bottom: 2px solid white; /* Specify color to maintain consistency */
}

#menu_icon {
    color: white;
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

section{
    padding: 0 19%;
}


.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover{
    color: #FF512F;
    transform: translateY(-5px);
}
.scroll-down{
    position:absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #FF512F;
    border-radius: 30px;
    transition: all .55 ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh; 
        background: #FF512F ;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navigation a{
        margin-left: 0;
        display: block;
        margin: 7px 0; 
    }
    .navigation.open{
        right: 0;
    }
}
@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    
}
